pyPdf==1.13
coveralls==1.1
pytest-xdist==1.14
mypy-lang==0.4.1
pytest==3.1.0
pytest-cov==2.5.1
pytest-pylint==0.7.1
pytest-travis-fold==1.2.0
codecov==2.0.9
coverage==4.0.3
sorter==0.5
flake8==2.5.4
pyflakes==1.0.0
pytest-flake8==0.5
